/Cache.class
/CacheEvento.class
/CacheMisterio.class
/Evento.class
/MicroCache.class
/MultiCache.class
/Utilizadores.class
/Virtual.class
/Utilizador.class
/Teste.class
/Estatisticas.class
/GeocachingAdmin.class
